<!DOCTYPE html>
<html>
	<head>
		<title>KTS</title>

		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">

		<link rel="stylesheet" type="text/css" href="../public/style.css">
	</head>
	
	<body>
		<header class="row" id="header">
			<h1 align="center">Kerala Transport Solutions</h1>
		</header>
		<form action="placeSubmit" method="get">
			<div class="col-lg-offset-3 col-lg-6 input-box" align="center">
				<div class="input-group input-group-lg" id="from">
					<span class="input-group-addon glyph" id="sizing-addon1">►</span>
					
					<input type="text" class="form-control places" placeholder="From" aria-describedby="sizing-addon1">
				</div>

				<div class="input-group input-group-lg" id="to">
					<span class="input-group-addon glyph" id="sizing-addon1">►</span>
				  
					<input type="text" class="form-control places" placeholder="To" aria-describedby="sizing-addon1">
				</div>
				<button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
			</div>
		</form>
	</body>
</html>