<!DOCTYPE html>
<html>
	<head>
		<title>KTS</title>

		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">

		<link rel="stylesheet" type="text/css" href="../public/resultstyle.css">
	</head>
	
	<body style="margin-left: 50px">
		<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  			<div class="navbar-header">
   				<a class="navbar-brand" href="home.ejs"><b>KTS</b></a>
  			</div>
		</nav>

		<div class="verticalLine col-lg-offset-5 col-lg-2">
	  		<b>
		  		<ul>
		  			<li>Nalanchira</li>

		  			<li>Keshavdasapuram</li>

		  			<li>Pattom</li>

		  			<li>PMG</li>

		  			<li>Palayam</li>

		  			<li>Statue Jn</li>

		  			<li>Overbridge</li>

		  			<li>East Fort</li>
		  		</ul>
	  		</b>
		</div>
	</body>
</html>